body {
  width: 350px;
  padding: 16px;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 100%;
}

.btn {
  font-size: small !important;
  margin: 10px;
}
