
  <% if message.role == "user" %>
    <div class="chat-bubble chat-bubble--user">
      <%= raw(render_markdown(message.content)) %>
    </div>
  <% elsif message.role == "assistant" %>
    <div class="chat-bubble-row chat-bubble-row--assistant" id="<%= dom_id(message) %>">
      <div class="chat-avatar">
        <svg class="chat-avatar__logo" viewBox="0 0 1200 1200" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="600" cy="600" r="600" fill="#FF6B8E"/>
          <path d="M600 113C826.591 113 1013 330.748 1013 603C1013 635.385 1003.4 657.281 987.658 672.155C971.64 687.295 948.026 696.343 917.858 700.293C857.26 708.226 775.104 695.031 690.093 676.837C605.988 658.837 518.982 635.901 451.572 625.825C417.85 620.785 387.801 618.74 364.682 622.495C341.529 626.256 322.389 636.487 316.36 658.341C296.87 728.992 336.537 801.433 394.617 853.793C452.862 906.302 532.921 941.797 600.71 936.975C659.682 932.779 701.946 924.036 735.157 902.012C768.534 879.878 791.343 845.301 813.808 792.922C820.51 777.294 835.461 767 851.939 767H931.638C958.256 767 976.163 791.829 967.234 815.01C902.707 982.532 765.409 1093 600 1093C373.409 1093 187 875.252 187 603C187 330.748 373.409 113 600 113Z" fill="#010101" stroke="black" stroke-width="20"/>
          <path d="M669.151 213.884C749.419 231.064 815.903 293.594 862.899 353.429C886.262 383.174 904.492 411.847 916.879 433.089C923.067 443.701 927.786 452.438 930.945 458.497C931.11 458.814 931.27 459.125 931.427 459.428C926.526 462.115 919.406 465.885 910.386 470.292C891.94 479.304 865.603 490.96 834.108 501.508C770.919 522.671 687.93 539.041 606.514 521.616C525.248 504.222 459.994 456.229 414.799 412.088C392.248 390.062 374.833 369.133 363.075 353.734C357.357 346.247 352.988 340.079 350.023 335.746C350.463 335.338 350.928 334.909 351.417 334.46C356.173 330.095 363.182 323.869 372.126 316.495C390.028 301.736 415.606 282.439 446.309 264.266C508.071 227.709 588.883 196.704 669.151 213.884Z" fill="#D9D9D9" stroke="black" stroke-width="20"/>
          <circle class="chat-avatar__pupil" cx="657.5" cy="368.5" r="144" fill="black" stroke="black" stroke-width="20"/>
        </svg>
      </div>
      <div class="chat-bubble chat-bubble--assistant" data-controller="scroll">
        <%= raw(render_markdown(message.content)) %>
      </div>
    </div>
  <% end %>
