<% risk_level = score&.split(' ')&.first&.downcase %>
<div class="risk-badge risk-badge--<%= risk_level %>">
  <% if risk_level == 'low' %>
    <i class="fa-solid fa-circle-check risk-badge__icon"></i>
  <% else %>
    <i class="fa-solid fa-triangle-exclamation risk-badge__icon"></i>
  <% end %>
  <span class="risk-badge__label"><%= score %></span>
</div>
