<div class="d-flex flex-column align-items-center justify-content-center border border-danger rounded p-2 text-danger" style="min-width: 90px; min-height: 70px; background-color: #fff0f0;">
  <span style="font-size: 1.2rem;"><%= icon %></span>
  <strong style="font-size: 0.75rem;">
    <%= score %>
  </strong>
</div>
