<div class="container">
  <h1>Welcome!</h1>
  <div class="card">
    <p>Overall Risk Profile</p>
    <p>insert rating here</p>
    <p>insert explanation here</p>
    <p>insert status bar here</p>
  </div>
  <div class="card">
    <p>AI Compliance Agent</p>
    <p>Customize how Entrika analyzes your documents. Set specific keywords
      or clause you care about most.</p>
  </div>
  <h2>Recent Analyses</h2>
  <div class="card">
    <p>Example 1</p>
  </div>
  <div class="card">
    <p>Example 2</p>
  </div>
  <div class="card">
    <p>Example 3</p>
  </div>
  <h2>View More Analyses</h2>
  <ul class="nav tabs-underlined" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <span class="nav-link tab-underlined active" id="sites-tab" data-bs-toggle="tab" data-bs-target="#sites-tab-pane" role="tab" aria-controls="sites-tab-pane" aria-selected="true">All Sites</span>
    </li>
    <li class="nav-item" role="presentation">
      <span class="nav-link tab-underlined" id="signedup-tab" data-bs-toggle="tab" data-bs-target="#signedup-tab-pane" role="tab" aria-controls="signedup-tab-pane" aria-selected="false">Signed-Up Sites</span>
    </li>
    <li class="nav-item" role="presentation">
      <span class="nav-link tab-underlined" id="rejected-tab" data-bs-toggle="tab" data-bs-target="#rejected-tab-pane" role="tab" aria-controls="rejected-tab-pane" aria-selected="false">Rejected Sites</span>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade py-3 show active" id="sites-tab-pane" role="tabpanel" aria-labelledby="sites-tab" tabindex="0">
      To display all analyses from all sites
    </div>
    <div class="tab-pane fade py-3" id="signedup-tab-pane" role="tabpanel" aria-labelledby="signedup-tab" tabindex="0">
      To display analyses from signed-up sites
    </div>
    <div class="tab-pane fade py-3" id="rejected-tab-pane" role="tabpanel" aria-labelledby="rejected-tab" tabindex="0">
      To display analyses from rejected sites
    </div>
  </div>
</div>
