<div class="container">
  <h1>Welcome!</h1>
  <div class="card">
    <p>Overall Risk Profile</p>
    <p>insert rating here</p>
    <p>insert explanation here</p>
    <p>insert status bar here</p>
  </div>
  <div class="card">
    <p>AI Compliance Agent</p>
    <p>Customize how Entrika analyzes your documents. Set specific keywords
      or clause you care about most.</p>
  </div>
  <h2>Recent Analyses</h2>
  <div class="card">
    <p>Example 1</p>
  </div>
  <div class="card">
    <p>Example 2</p>
  </div>
  <div class="card">
    <p>Example 3</p>
  </div>
  <h2>View More Analyses</h2>
  <p class="d-inline-flex gap-1">
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample1" aria-expanded="false" aria-controls="multiCollapseExample1">
      All Sites
    </button>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">
      Signed-Up Sites
    </button>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample3">
      Rejected Sites
    </button>
  </p>
  <div class="row">
    <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample1">
        <div class="card card-body">
          To display all analyses from all sites
        </div>
      </div>
    </div>
    <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample2">
        <div class="card card-body">
          To display analyses from sign-uped sites
        </div>
      </div>
    </div>
    <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample3">
        <div class="card card-body">
          To display analyses from rejected sites
        </div>
      </div>
    </div>
  </div>
</div>
