<div class="registrations-container" id="recent-analyses-container">
  <% sorted_registrations.each do |registration| %>
    <div class="dashboard-registrations-container">
      <%= render "companies/company_card", company: registration.company, registration: registration, from_dashboard: local_assigns.fetch(:from_dashboard, false) %>
    </div>
  <% end %>
</div>
